html{
  font-family: Verdana;
  font-weight: normal;
  background-color: Black;
  text-align: center;
  color: white;
}

h1{
  font-size: 50px;
  color: white;
}

#download p{
  color: aquamarine;
  font-size: 16px;
}

h2{
  font-weight: 300;
  font-size: 42px;
}

.intro p{
  font-size: 21px;
  color: Gray;
}



footer{
  text-align: right;
  color: Gray;
}
